{% set current_lang = request.environ.CKAN_LANG %}
{% set current_page = request.environ.CKAN_CURRENT_URL %}
{# % set categories = h.p01als_theme_get_groups() % #}

<div class="categories container-fluid categories__row">
        <div class="container ">
            <div class="row ">

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_1">
                        <img src="/images/ui/project1.png" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">Project 1<br /> Antisense oligonucleotide for mitigating c9ALS/FTD</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_2">
                        <img src="/images/ui/project2.png" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-blue">Project 2<br /> Nuclear transport and ALS/FTD pathogenesis</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_3">
                        <img src="/images/ui/project3.png" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">Project 3<br /> Biomarkers of Disease Pathways</span>
                    </a>
                </div> 
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/clinical_core">
                        <img src="/images/ui/clinical.png" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-blue">Clinical Core<br /></span>
                    </a>
                </div>
		<div class="col-md-2 col-sm-4 col-xs-6">                                                                                                                                                           
                    <a class="categories__card" href="/group/human_validation_core">                                                                                                                                      
                        <img src="/images/ui/human.png" alt="" class="responsive categories__card-img">                                                                                                    
                        <span class="categories__card-title text-orange">Human Validation Core<br /></span>                                                                                                                 
                    </a>                                                                                                                                                                                           
                </div>
		<div class="col-md-2 col-sm-4 col-xs-6">                                                                                                                                                           
                    <a class="categories__card" href="/group/bioinformatics_core">                                                                                                                                      
                        <img src="/images/ui/bioinformatics.png" alt="" class="responsive categories__card-img">                                                                                                    
                        <span class="categories__card-title text-purple">Bioinformatics Core<br /></span>                                                                                                                 
                    </a>                                                                                                                                                                                           
                </div>
            </div>
        </div>
    </div>
    
  
